<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<br><br>
	<table class="table">
		<tr>
			<th scope="col"></th>
		    <th scope="col">Matí</th> 
		    <th scope="col">Capvespre</th>
		</tr>
		<tr>
			<th scope="row">Dilluns</th>
		    <td>{{horario.lunesM}}</td> 
		    <td>{{horario.lunesT}}</td>
		</tr>
		<tr>
			<th scope="row">Dimarts</th>
		    <td>{{horario.martesM}}</td> 
		    <td>{{horario.martesT}}</td>
		</tr>
		<tr>
			<th scope="row">Dimecres</th>
		    <td>{{horario.miercolesM}}</td> 
		    <td>{{horario.miercolesT}}</td>
		</tr>
		<tr>
			<th scope="row">Dijous</th>
		    <td>{{horario.juevesM}}</td> 
		    <td>{{horario.juevesT}}</td>
		</tr>
		<tr>
			<th scope="row">Divendres</th>
		    <td>{{horario.viernesM}}</td> 
		    <td>{{horario.viernesT}}</td>
		</tr>
		<tr>
			<th scope="row">Dissabte</th>
		    <td>{{horario.sabadoM}}</td> 
		    <td>{{horario.sabadoT}}</td>
		</tr>
		<tr>
			<th scope="row">Diumenge</th>
		    <td>{{horario.domingoM}}</td> 
		    <td>{{horario.domingoT}}</td>
		</tr>
		<tr>
			<th scope="row"></th>
		    <td></td> 
		    <td></td>
		</tr>
	</table>
	
</div>
