<div class="col-md-12 mt-3">
	<h1>Editar Ingredient - {{page_title}}</h1>
	<br>
	
	<div class="alert alert-success col-md-6 mt-3" *ngIf="status == 'success'">
		El ingredient s'ha modificat correctament
	</div>

	<div class="alert alert-danger col-md-6 mt-3" *ngIf="status == 'error'">
		El ingrediente no s'ha modificat correctamente
	</div>		
	

	<!-- Forumulario de crear ingrediente-->

	<form #ingredienteForm="ngForm" (ngSubmit)="onSubmit(ingredienteForm)" class="col-md-5">
		<div class="form-group">
			<label for="nombre">Canvia el nom del ingredient:</label>
			<input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="ingrediente.nombre" required />
			<small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
				El nom del ingredient no es vàlid
			</small>
		</div>
		<div class="form-group">
			<label for="precio">Canvia el preu del ingredient:</label>
			<input type="text" name="precio" class="form-control" #precio="ngModel" [(ngModel)]="ingrediente.precio" required pattern="[0-9.,]+"/>
			<small *ngIf="!precio.valid && precio.touched" class="invalid-feedback d-block">
				El preu del ingredient no és vàlid
			</small>
		</div>
		<input type="submit" value="Guardar" class="btn btn-outline-secondary" [disabled]="ingredienteForm.invalid">
	</form>	

</div>
