<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>
	<p *ngIf = "status != 'success' && status != 'error'">
	  Crea un nou menú.
	</p>

	
	<div class="alert alert-success col-md-6 mt-3" *ngIf="status == 'success'">
		El menú s'ha creat correctament
	</div>

	<div class="alert alert-danger col-md-6 mt-3" *ngIf="status == 'error'">
		El menú no s'ha creat correctament
	</div>		
	

	<!-- Forumulario de crear categoría-->
	
	<form #menuForm="ngForm" (ngSubmit)="onSubmit(categoriaForm)" class="col-md-5">
		<div class="form-group">
			<label for="nombre">Nom</label>
			<input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="menu.nombre" required />
			<small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
				El nom del menú no es vàlit
			</small>
		</div>
		<div class="form-group">
			<label for="nombrePrimero">Nombre Del Primer Plato</label>
			<input type="text" name="nombrePrimero" class="form-control" #nombrePrimero="ngModel" [(ngModel)]="menu.nombrePrimero" required />
			<small *ngIf="!nombrePrimero.valid && nombrePrimero.touched" class="invalid-feedback d-block">
				El nom del primer plat del menú no és válit
			</small>
		</div>
		<div class="form-group">
			<label for="descripcionPrimero">Descripció Del Primer Plat</label>
			<input type="text" name="descripcionPrimero" class="form-control" #descripcionPrimero="ngModel" [(ngModel)]="menu.descripcionPrimero" required />
			<small *ngIf="!descripcionPrimero.valid && descripcionPrimero.touched" class="invalid-feedback d-block">
				La descripció del primer plat del menú no és vàlida
			</small>
		</div>
		<div class="form-group">
			<label for="nombreSegundo">Nombre Del Segundo Plato</label>
			<input type="text" name="nombreSegundo" class="form-control" #nombreSegundo="ngModel" [(ngModel)]="menu.nombreSegundo" required />
			<small *ngIf="!nombreSegundo.valid && nombreSegundo.touched" class="invalid-feedback d-block">
				El nombre del segundo plato del menú no es válido
			</small>
		</div>
		<div class="form-group">
			<label for="descripcionSegundo">Descripción Del Segundo Plato</label>
			<input type="text" name="descripcionSegundo" class="form-control" #descripcionSegundo="ngModel" [(ngModel)]="menu.descripcionSegundo" required />
			<small *ngIf="!descripcionSegundo.valid && descripcionSegundo.touched" class="invalid-feedback d-block">
				La descripción del segundo plato del menú no es válida
			</small>
		</div>
		<div class="form-group">
			<label for="precio">Precio</label>
			<input type="text" name="precio" class="form-control" #precio="ngModel" [(ngModel)]="menu.precio" required pattern="[0-9.,]+"/>
			<small *ngIf="!precio.valid && precio.touched" class="invalid-feedback d-block">
				El precio del menú no es válido
			</small>
		</div>
		<input type="submit" value="Guardar" class="btn btn-outline-secondary" [disabled]="menuForm.invalid">
	</form>	
	
</div>
