<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>	
	<hr>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a class="nav-link" (click)="escogerMenu('A')">
					<button class="cuadro">
						<h4><u><b>Combo 8.5</b></u></h4>
						<br>
						
						<table>
							<thead>
							</thead>
							<body>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Beguda
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Patates Fregides
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Hamburguesa
										</h5>
									</td>
								</tr>
							</body>
						</table>
						<br>
						<h5>
							Preu: <i>8,50</i>€
						</h5>
							
								
					</button>
				</a>
			</div>
			<div class="col-md-6">
				<a class="nav-link" (click)="escogerMenu('B')">
					<button class="cuadro">
						<h4><u><b>Combo 10</b></u></h4>
						<br>
						<table>
							<thead>
							</thead>
							<body>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Beguda
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Pizza
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Crepe
										</h5>
									</td>
								</tr>
							</body>
						</table>
							
						<br>
						<h5>Preu: <i>10,00</i>€</h5>
							
								
					</button>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a class="nav-link" (click)="escogerMenu('C')">
					<button class="cuadro">
						<h4><u><b>Combo 15</b></u></h4>
						<br>

						<table>
							<thead>
							</thead>
							<body>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Beguda
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Tapa
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Pasta Fresca
										</h5>
									</td>
								</tr>
								<tr>
									<th><h5><b>1 x </b></h5></th>
									<td>
										<h5>
											Pizza
										</h5>
									</td>
								</tr>
							</body>
						</table>
						<br>
						<h5>
							Preu: <i>15,00</i>€
						</h5>		
					</button>
				</a>
			</div>
		</div>
	</div>

</div>
